<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
    <test name="Dog" >
        <classes>
            <class name="net.sasconsul.qs.DogYBall.model.DogTest"  />
        </classes>
    </test>
    <test name="Ball" >
        <classes>
            <class name="net.sasconsul.qs.DogYBall.model.BallTest" />
        </classes>
    </test>

</suite>
